@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://unpkg.com/swiper@6.4.1/swiper-bundle.min.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");

ul {
    list-style-type: none;
}

p, h1, h2, h3, h4 {
    margin: 0;
    font-weight: 100;
}

a {
    text-decoration: none;
    outline: none;
}

input, textarea {
    background-color: rgba(255, 255, 255, 0);
    outline: none;
    text-decoration: none;
    border: none;
}

img {
    max-width: 100%;
    width: auto;
}

body {
    overflow-x: hidden;
    font-family: 'Source Sans Pro', sans-serif;
    background: #161E29;
    color: #ffffff;
}

.body-dark:after {
    content: '';
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1004;
}

html {
    font-size: 10px;
}

html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    line-height: 1.25;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    -webkit-text-decoration: none;
    -moz-text-decoration: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 2rem;
}

.l-header {
    padding: 1rem 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.l-header .c-form {
    width: 100%;
}

.c-btn__menu {
    width: 100%;
    max-width: 24px;
    height: 24px;
    margin-left: 1.6rem;
}

.c-btn__deposit {
    height: 42px;
    background: #00A1F8;
    -webkit-box-shadow: 0px 6px 8px rgba(22, 30, 41, 0.25);
    -moz-box-shadow: 0px 6px 8px rgba(22, 30, 41, 0.25);
    box-shadow: 0px 6px 8px rgba(22, 30, 41, 0.25);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    width: 100%;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.c-btn__form {
    width: 100%;
    height: 42px;
    background: #00A1F8;
    -webkit-box-shadow: 0px 6px 8px rgba(22, 30, 41, 0.25);
    -moz-box-shadow: 0px 6px 8px rgba(22, 30, 41, 0.25);
    box-shadow: 0px 6px 8px rgba(22, 30, 41, 0.25);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 2.2rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 4.6rem;
}

.c-title {
    font-style: normal;
    color: #ffffff;
}

.c-title__section {
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 0.15px;
}

.c-block {
    width: 100%;
    padding: 1.5rem 1.5rem 1.7rem;
    margin-right: 1rem;
}

.c-block-posit {
    position: absolute;
    z-index: 99999;
    top: 50%;
    left: 50%;
}

.c-block-tarif {
    background: #fff;
    width: 100%;
    position: absolute;
    bottom: -100%;
    z-index: 1005;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    border-top-right-radius: 15px;
    padding-top: 0.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.c-block-rating {
    background: #fff;
    width: 100%;
    position: absolute;
    bottom: -100%;
    z-index: 1005;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    border-top-right-radius: 15px;
    padding-top: 0.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.c-block-quality {
    background: #fff;
    width: 100%;
    position: absolute;
    bottom: -100%;
    z-index: 1005;
    -webkit-border-top-left-radius: 15px;
    -moz-border-radius-topleft: 15px;
    border-top-left-radius: 15px;
    -webkit-border-top-right-radius: 15px;
    -moz-border-radius-topright: 15px;
    border-top-right-radius: 15px;
    padding-top: 0.5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.c-block-quality .c-tabs {
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.c-block-quality .c-tabs__item {
    background: #DCDEE4;
    border-radius: 12px;
    height: 48px;
    color: #161E29;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    flex: 1;
    width: 100% !important;
    max-width: 61px;
}

.c-block-quality .c-tabs__item:last-child {
    margin-right: 0;
}

.c-block-quality .c-tabs__item.active {
    color: white;
}

.c-block-rating .movie__rating__btn {
    max-width: unset;
    width: 100%;
}

.plyr--video {
    justify-content: center;
    height: 100%;
}

.plyr__controls {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.plyr--video.plyr--hide-controls .plyr__controls {
    transform: translateY(0%);
}
.plyr__control {
    background: none !important;
}

.plyr__controls .plyr__controls__item.plyr__progress__container {
    padding-bottom: 15px;
}

.plyr__controls .plyr__controls__item.plyr__time {
    position: absolute;
    left: 40px;
    bottom: 10px;
    font-size: 11px;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.plyr__controls__next {
    position: absolute;
    right: 80px;
    bottom: 10px;
    font-size: 11px;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.5);
}

.plyr__control[data-plyr="pip"] {
    position: absolute;
    top: 37px;
    right: 92px;
    padding: 0;
}

.plyr__control[data-plyr="share"] {
    position: absolute;
    top: 37px;
    right: 54px;
}

.plyr__control[data-plyr="list"] {
    position: absolute;
    top: 37px;
    right: 16px;
}

.plyr__control[data-plyr="back"] {
    position: absolute;
    top: 37px;
    left: 11px;
}

.plyr__control[data-plyr="pip"] svg {
    width: 30px;
    height: 30px;
}

.plyr__controls__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 31px;
    left: 52px;
}

.plyr__controls__title h4 {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.plyr__right {
    position: absolute;
    top: 23px;
    right: -100%;
}
.plyr__right__line {
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -32px;
    background: #FFFFFF;
    border-radius: 2px;
    height: 64px;
    width: 4px;
}
.plyr__list-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 7px 28px 7px 10px;
    background: rgba(22, 30, 41, 0.9);
    border-radius: 12px;
    margin-bottom: 10px;
}

.plyr__list-item__title {
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.plyr__list-item__text {
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.75);
}

.plyr__controls__title__channel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.plyr__controls__title__channel img {
    width: 20px !important;
    height: 20px !important;
    margin-right: 8px;
}

.plyr__controls__title__channel span {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.5);
}

.plyr--full-ui.plyr--video input[type=range]::-webkit-slider-runnable-track {
    height: 2px;
}

.plyr--full-ui input[type=range]::-webkit-slider-thumb {
    margin-top: -5px;
}

.plyr--video .plyr__progress__buffer {
    height: 2px;
    margin-top: -1px;
}

.plyr__control svg {
    width: 20px;
    height: 20px;
}

.plyr__control--overlaid svg {
    width: 48px;
    height: 48px;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
    z-index: 12;
}

.plyr__volume {
    max-width: 30px;
    min-width: unset;
}

@media (max-height: 440px) {
    .c-block-tarif {
        overflow-y: scroll;
        height: -webkit-calc(100% - 0px);
        height: -moz-calc(100% - 0px);
        height: calc(100% - 0px);
    }
}

.search-label {
    width: 100%;
}

.search-label input {
    padding-top: 7px;
    padding-bottom: 7px;
}

.c-block-tarif .c-btn__form {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.c-line__tarif {
    width: 64px;
    height: 4px;
    background: #161E29;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin: 0 auto;
    margin-bottom: 1.6rem;
}

.c-block-tarif-title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 2.2rem;
    letter-spacing: 0.03em;
    color: #161E29;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.c-block-tarif-info {
    background: #F7F8FB;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 1.6rem 2rem;
    color: #161E29;
}

.c-block-tarif__name {
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    color: rgba(22, 30, 41, 0.75);
}

.c-block-tarif__price {
    font-style: normal;
    font-weight: bold;
    font-size: 4rem;
    line-height: 4.6rem;
    letter-spacing: 0.15px;
    margin-bottom: 1.1rem;
}

.c-block-tarif__des {
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    color: rgba(22, 30, 41, 0.75);
}

.c-block-small {
    background: #293748;
    -webkit-box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    -moz-box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    max-width: 150px;
}

.c-block-big {
    background: #222E3E;
    -webkit-box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    -moz-box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    max-width: 221px;
}

.c-block-big:first-child {
    background: #222E3E url("/images/bg-block.png");
}

.c-block__icon {
    width: 40px;
    height: 40px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 1.1rem;
}

.c-block__icon svg {
    width: 24px;
    height: 24px;
}

.c-block__title {
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    margin-bottom: 0.2rem;
}

.c-block__content {
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.75);
    margin-bottom: 1.3rem;
}

.c-block__price {
    background: -webkit-gradient(linear, left top, left bottom, from(#98D282), to(#70A663));
    background: -webkit-linear-gradient(top, #98D282 0%, #70A663 100%);
    background: -moz-linear-gradient(top, #98D282 0%, #70A663 100%);
    background: -o-linear-gradient(top, #98D282 0%, #70A663 100%);
    background: linear-gradient(180deg, #98D282 0%, #70A663 100%);
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 0.2rem 0.5rem;
}

.c-block__date {
    background: #BF5EFE;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    padding: 0.2rem 0.5rem;
}

@media screen and (orientation: landscape) {
    .videorotate {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}

.c-form {
    overflow: scroll;
}

.c-form-des {
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 0.7rem;
}

.c-form-code {
    background: #222E3E;
    -webkit-box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    -moz-box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 1.5rem 2rem 2rem;
}

.c-form-code input {
    margin-top: 2rem;
}

.c-form-close {
    height: 56px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 2rem;
}

.c-form-close svg {
    width: 24px;
    height: 24px;
}

.c-form__forgot {
    font-style: normal;
    font-weight: bold;
    font-size: 1.3rem;
    line-height: 1.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.c-form-auth {
    position: fixed;
    top: 0;
    z-index: 2000;
    height: 100%;
    background: #161E29;
    padding: 0 2rem;
    width: 100%;
    overflow: scroll;
    padding-bottom: 2rem;
}

.c-form-auth .c-window-top {
    padding: 1.7rem 0;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.c-form-auth .c-window-top svg {
    width: 24px;
    height: 24px;
}

.c-form-auth .c-window-close {
    position: absolute;
    left: 20px;
}

.c-form-auth .c-title-auth {
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 3.2rem;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    margin-bottom: 0.8rem;
}

.c-form-auth .c-subtitle-auth {
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    margin-bottom: 3.1rem;
}

.c-form-auth .c-subtitle-auth a {
    color: #00a1f8;
}

.c-form-auth .c-form label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 3.6rem;
}

.c-form-auth .c-form label:last-child {
    margin-bottom: 1.5rem;
}

.c-form-auth .c-form label span:not(.c-form-des) {
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 0.4rem;
}

.c-form-auth .c-form label input {
    height: 46px;
    background: #3C4859;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    opacity: 0.5;
    padding-left: 2rem;
}

.c-form-auth .c-form label input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    opacity: 0.5;
}

.c-form-auth .c-form label input:-moz-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    opacity: 0.5;
}

.c-form-auth .c-form label input::-moz-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: -moz-box;
    display: flex;
    -moz-box-align: center;
    align-items: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    opacity: 0.5;
}

.c-form-auth .c-form label input:-ms-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    opacity: 0.5;
}

.c-form-auth .c-form label input::-ms-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    opacity: 0.5;
}

.c-form-auth .c-form label input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    opacity: 0.5;
}

.c-form-auth .c-form .c-form-label__code {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.c-form-auth .c-form .c-form-label__code input {
    width: 48px;
    height: 48px;
    background: #3C4859;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding: 0;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 1.6rem;
    line-height: 2.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.c-form__label {
    position: relative;
}

.c-form__label-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    left: 10px;
    z-index: 990;
    top: 9px;
}

.c-form__label-input {
    width: 100%;
    max-width: 100%;
    background: #222E3E;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 36px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 4rem;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.41px;
    color: #ffffff;
}

.c-form__label-input::-webkit-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.41px;
    color: #ffffff;
}

.c-form__label-input:-moz-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.41px;
    color: #ffffff;
}

.c-form__label-input::-moz-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.41px;
    color: #ffffff;
}

.c-form__label-input:-ms-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.41px;
    color: #ffffff;
}

.c-form__label-input::-ms-input-placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.41px;
    color: #ffffff;
}

.c-form__label-input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;
    letter-spacing: -0.41px;
    color: #ffffff;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

input:focus::-ms-input-placeholder {
    color: transparent;
}

input:focus::placeholder {
    color: transparent;
}

.c-tabs {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 2rem;
}

.c-tabs a {
    background: #222E3E;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: -0.08px;
    color: #FFFFFF;
    padding: 0.5rem 1.2rem;
    -webkit-border-radius: 1.4rem;
    -moz-border-radius: 1.4rem;
    border-radius: 1.4rem;
    margin-right: 0.5rem;
    width: auto !important;
}

.c-tabs a.active {
    background: #00A1F8;
    -webkit-backdrop-filter: blur(135.914px);
    backdrop-filter: blur(135.914px);
}

.c-tvlist {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 2rem;
}

.c-tvlist__item {
    color: #ffffff;
    margin-right: 1rem;
    width: 188px;
}

.c-tvlist__img {
    width: 100%;
    height: 138px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    margin-bottom: 0.7rem;
    overflow: hidden;
    position: relative;
}

.c-tvlist__img img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.c-tvlist__loader {
    width: 100%;
    background: #D4D4D4;
    height: 4px;
    position: absolute;
    bottom: 0;
}

.c-tvlist__title {
    font-style: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 2.2rem;
    letter-spacing: 0.03em;
    color: #ffffff;
    margin-bottom: 0.3rem;
}

.c-tvlist__icon {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.c-tvlist__icon img {
    width: 20px;
    height: 20px;
    margin-right: 0.8rem;
}

.c-tvlist__icon span {
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.5);
}

.c-link {
    font-style: normal;
    color: #00A1F8;
}

.c-link__all {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 2.2rem;
    letter-spacing: 0.07em;
    text-transform: uppercase;
}

.c-channels {
    margin-bottom: 3.6rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 2rem;
    overflow: scroll;
}

.c-channels__item {
    margin-right: 1rem;
    width: auto !important;
}

.c-channels__img {
    height: 56px;
    width: 56px;
    background: #222E3E;
    -webkit-box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    -moz-box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0.7rem;
}

.c-channels__title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    color: #ffffff;
    text-align: center;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 97%;
}

.c-balance {
    background: #222E3E;
    -webkit-box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    -moz-box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding-top: 1.9rem;
    margin: 0 2rem;
    margin-bottom: 2rem;
}

.c-balance__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 3rem;
}

.c-balance__money {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.c-balance__text {
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 2.2rem;
    letter-spacing: 0.03em;
    color: #ffffff;
    opacity: 0.75;
}

.c-balance__price {
    font-style: normal;
    font-weight: bold;
    font-size: 3.2rem;
    line-height: 4rem;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.c-balance__price span {
    font-size: 2.4rem;
    line-height: 1.76471rem;
}

.c-balance__img {
    width: 40px;
    height: 40px;
}

.c-balance__img img {
    width: 100%;
    height: 100%;
}

.c-balance__content {
    background: #3C4859;
    -webkit-box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    -moz-box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    box-shadow: 0px 8px 24px rgba(39, 39, 39, 0.05);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 1.6rem 2rem 1rem;
    margin: 0 1rem;
    position: relative;
    bottom: -20px;
}

.c-balance__content p {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 1.5rem;
}

.c-balance__content p span {
    font-weight: 700;
    color: #ffffff;
}

[anim="ripple"] {
    position: relative;
    overflow: hidden;
}

/*[anim="ripple"]:before {*/
/*    content: '';*/
/*    position: absolute;*/
/*    display: block;*/
/*    background: var(--ripple-background, white);*/
/*    -webkit-border-radius: 50%;*/
/*    -moz-border-radius: 50%;*/
/*    border-radius: 50%;*/
/*    pointer-events: none;*/
/*    top: -webkit-calc(var(--y) * 1px);*/
/*    top: -moz-calc(var(--y) * 1px);*/
/*    top: calc(var(--y) * 1px);*/
/*    left: -webkit-calc(var(--x) * 1px);*/
/*    left: -moz-calc(var(--x) * 1px);*/
/*    left: calc(var(--x) * 1px);*/
/*    width: -webkit-calc(var(--d) * 1px);*/
/*    width: -moz-calc(var(--d) * 1px);*/
/*    width: calc(var(--d) * 1px);*/
/*    height: -webkit-calc(var(--d) * 1px);*/
/*    height: -moz-calc(var(--d) * 1px);*/
/*    height: calc(var(--d) * 1px);*/
/*    opacity: -webkit-calc(var(--o, 1) * var(--ripple-opacity, 0.3));*/
/*    opacity: -moz-calc(var(--o, 1) * var(--ripple-opacity, 0.3));*/
/*    opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));*/
/*    -webkit-transition: -webkit-calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);*/
/*    -o-transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);*/
/*    -moz-transition: -moz-calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);*/
/*    transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);*/
/*    -webkit-transform: translate(-50%, -50%) scale(var(--s, 1));*/
/*    -moz-transform: translate(-50%, -50%) scale(var(--s, 1));*/
/*    -ms-transform: translate(-50%, -50%) scale(var(--s, 1));*/
/*    -o-transform: translate(-50%, -50%) scale(var(--s, 1));*/
/*    transform: translate(-50%, -50%) scale(var(--s, 1));*/
/*    -webkit-transform-origin: center;*/
/*    -moz-transform-origin: center;*/
/*    -ms-transform-origin: center;*/
/*    -o-transform-origin: center;*/
/*    transform-origin: center;*/
/*}*/

body.open .c-bg {
    z-index: 1;
}

body.open .c-navbar {
    display: block;
}

.c-bg {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(22, 30, 41, 0.75);
    opacity: 0;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    z-index: -1;
}

.c-menu-close {
    position: absolute;
    left: 20px;
    top: 40px;
    width: 24px;
    height: 24px;
    z-index: 1000;
    opacity: 0;
}

.c-navbar {
    display: none;
}

.c-menu {
    overflow: scroll;
    width: 100%;
    max-width: 280px;
    background: #222E3E;
    padding: 3rem 2rem;
    position: absolute;
    right: -100%;
    height: 100vh;
    z-index: 1000;
}

.c-menu-profile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.c-menu-profile__img {
    width: 64px;
    height: 64px;
    background: #3C4859;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-right: 1rem;
}

.c-menu-profile__img svg {
    width: 30px;
    height: 30px;
}

.c-menu-inlogin {
    width: 100%;
    max-width: 156px;
}

.c-menu-title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 0.1rem;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.c-menu-title a {
    display: block;
    color: #fff;
}

.c-menu-setting {
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.5);
}

.c-menu-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.c-menu__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.4rem;
}

.c-menu__link:last-child {
    margin-bottom: 0;
}

.c-menu__link svg {
    width: 24px;
    height: 24px;
    margin-right: 1rem;
}

.c-menu__link span {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.c-line {
    width: 100%;
    background: #3C4859;
    height: 1px;
    margin: 3rem 0;
}

@-webkit-keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotation {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes rotation {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotation {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.c-preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 99999;
    background: #161E29;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.c-preloader svg {
    margin-bottom: 6.6rem;
}

.c-preloader-circle {
    background: #3C4859;
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    overflow: hidden;
}

.c-preloader-circle::before {
    z-index: 1;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 27px;
    height: 27px;
    background: #161E29;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.c-preloader__loader {
    position: absolute;
    width: 30px;
    height: 30px;
    overflow: hidden;
    top: 0;
    left: 0;
}

.c-preloader__loader::before {
    content: "";
    bottom: 0;
    left: 0;
    background: #4185F3;
    width: 30px;
    height: 15px;
    position: absolute;
    -webkit-animation-name: rotation;
    -moz-animation-name: rotation;
    -o-animation-name: rotation;
    animation-name: rotation;
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -o-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

.c-preloader-text {
    position: absolute;
    bottom: 36px;
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    opacity: 0.5;
}

.c-window {
    position: fixed;
    background: #161E29;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 999;
}

.c-window-profile {
    z-index: 1001;
}

.c-window-cinema {
    z-index: 1001;
    padding-bottom: 40px;
}

.c-window-movie {
    z-index: 1002;
}

.c-window-user-email {
    z-index: 1001;
}

.c-window-user-password {
    z-index: 1001;
}

.c-window-user-pincode {
    z-index: 1001;
}

.c-window-user-time {
    z-index: 1001;
}

.c-window-channel-list .c-tvlist__title {
    padding-left: 2rem;
}

.c-window-channel-list .c-tvlist__icon {
    padding-left: 2rem;
}

.c-window-channel-list .c-tabs__item {
    padding: 0.5rem 0.7rem !important;
    margin-bottom: 2.5rem;
}

.c-window__content {
    padding-top: 2.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
}

.c-window__content h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.c-window__content .c-tvlist__icon {
    margin-top: 0.5rem;
    padding-left: 0 !important;
    margin-bottom: 1.7rem !important;
}

.c-window__content .c-tvlist__icon img {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

.c-window__content p {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    margin-bottom: 2rem;
}

.c-window__flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1.2rem 0;
    margin-bottom: 1.8rem;
}

.c-window__flex .c-window__name {
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.c-window__flex .c-window__date {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.5);
}

.c-window-title-page {
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.c-window .c-btn__form {
    margin-top: 0;
}

.c-window .c-tvlist__title {
    margin-top: 2.6rem;
    margin-bottom: 0.5rem;
}

.c-window .c-tvlist__icon {
    margin-bottom: 2.9rem;
}

.c-window .c-tabs__item {
    padding: 0.5rem 1rem;
}

.c-window-top {
    padding: 1.8rem 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.c-window-top .c-window-close svg {
    width: 20px;
    height: 20px;
}

.c-window-top .c-window-icon a {
    margin-left: 2rem;
}

.c-window-top .c-window-icon a svg {
    width: 20px;
    height: 20px;
}

.c-window__screen {
    width: 100%;
    height: 336px;
    position: relative;
}

.c-window__screen iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    max-width: 100%;
    height: 100%;
}

.c-window__screen img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.c-window__screen .c-block__information {
    background: rgba(255, 255, 255, 0.75);
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    padding: 0.5rem 0.7rem 0.9rem 1.3rem;
    position: absolute;
    bottom: 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: -webkit-calc(100% - 20px);
    width: -moz-calc(100% - 20px);
    width: calc(100% - 20px);
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 1rem;
}

.c-window__screen .c-block__information span {
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    color: #161E29;
}

.c-window__screen .c-block__information .c-block__btn {
    width: 141px;
    padding: 0 0.3rem;
    background: #F8B808;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.4rem;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.75);
}

.c-window__screen .c-block__information svg {
    width: 20px;
    height: 20px;
}

.c-window__screen .c-block__information svg path {
    stroke: #161E29;
}

.c-icon__filter {
    width: 24px;
    height: 24px;
}

.c-list-channels {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.c-list-channels__img {
    background: #F7F8FB;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    width: 81px;
    height: 61px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 0.5rem;
}

@media (min-width: 360px) {
    .c-list-channels__img {
        width: 100px;
    }
}

.c-list-channels__img img {
    margin: 0 auto;
}

.c-list-channels a {
    margin-bottom: 1rem;
}

.c-list-channels a span {
    font-style: normal;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    color: #161E29;
    display: block;
    text-align: center;
}

.c-list-time {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 2rem;
}

.c-list-time:first-child {
    margin-top: 0.6rem;
}

.c-list-time svg {
    width: 18px;
    height: 18px;
}

.c-list-time__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 2.4rem;
}

.c-list-time__item span {
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.5);
    margin-right: 1.6rem;
}

.c-list-time__item .c-title__name {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.c-list-tv {
    margin-top: 2rem;
    padding: 0 2rem;
}

.c-list-tv__word {
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 2.2rem;
    letter-spacing: 0.15px;
    color: #FFFFFF;
    margin-bottom: 1.5rem;
}

.c-list-tv__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5rem;
}

.c-list-tv__item img {
    margin-right: 1rem;
}

.c-list-tv__title {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.c-list-tv__description {
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.8rem;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.5);
}

.c-user {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 3.4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.c-user__new {
    position: absolute;
    right: 40px;
    top: 73px;
}

.c-user__new .c-user__this {
    width: 64px;
    height: 64px;
    background: #222E3E;
}

.c-user__new .c-user__this svg {
    width: 24px;
    height: 24px;
}

.c-user__new .c-user__setting-ava {
    font-size: 11px;
    line-height: 13px;
}

.c-user__this {
    width: 100px;
    height: 100px;
    background: #3C4859;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.c-user__this svg {
    width: 48px;
    height: 48px;
}

.c-user__setting-ava {
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.8rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.5);
}

.c-user__title {
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 2.2rem;
    text-align: center;
    letter-spacing: 0.15px;
    margin-bottom: 0.6rem;
}

.c-user__email {
    font-style: normal;
    font-weight: normal;
    font-size: 1.3rem;
    line-height: 1.8rem;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.5);
}

.c-setting-list {
    margin-top: 3.4rem;
    padding: 0 2rem;
}

.c-setting-list__time {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
    letter-spacing: 0.15px;
    color: rgba(255, 255, 255, 0.5);
}

.c-setting-list__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1.2rem 0;
}

.c-setting-list__item svg {
    width: 24px;
    height: 24px;
}

.c-setting-list__title {
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 2.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.c-setting-list__next {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.2rem;
    text-align: right;
    letter-spacing: 0.15px;
    color: #00A1F8;
}

.c-setting-list span {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2.2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: right;
    letter-spacing: 0.15px;
    color: #FFFFFF;
}

.c-setting-list .red .c-setting-list__title {
    color: #CB2D36;
}

.s-section__tv {
    margin-bottom: 3.5rem;
}

.s-section__tabs {
    padding-top: 1.1rem;
    margin-bottom: 2.4rem;
}

.s-section__label {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -moz-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 2rem;
    margin-bottom: 1rem;
}

.s-section__history {
    margin-top: 4rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
}

.s-section__history .swiper-container {
    padding-left: 20px;
}

.s-section__price {
    padding-top: 3.5rem;
    padding-bottom: 4.1rem;
}

.s-section__price .swiper-container, .s-section__price .c-title {
    padding-left: 20px;
}

.s-section__price .c-block-list {
    margin-top: 1.1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    width: 235%;
}

.s-section__price .c-block-list::-webkit-scrollbar {
    width: 0em;
}

.s-section__price .c-block-list::-webkit-scrollbar-track {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.s-section__price .c-block-list::-webkit-scrollbar-thumb {
    background-color: unset;
    outline: none;
}

.color-default {
    color: #ffffff;
}

.color-black {
    color: #000;
}

.color-bg {
    color: #161E29;
}

.color-block {
    color: #222E3E;
}

.color-btn {
    color: #00A1F8;
}

.background-color-default {
    background-color: #ffffff;
}

.background-color-black {
    background-color: #000;
}

.background-color-bg {
    background-color: #161E29;
}

.background-color-block {
    background-color: #222E3E;
}

.background-color-btn {
    background-color: #00A1F8;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

@media (min-width: 576px) {
    .text-sm-center {
        text-align: center;
    }

    .text-sm-right {
        text-align: right;
    }

    .text-sm-left {
        text-align: left;
    }
}

@media (min-width: 768px) {
    .text-md-center {
        text-align: center;
    }

    .text-md-right {
        text-align: right;
    }

    .text-md-left {
        text-align: left;
    }
}

@media (min-width: 1052px) {
    .text-lg-center {
        text-align: center;
    }

    .text-lg-right {
        text-align: right;
    }

    .text-lg-left {
        text-align: left;
    }
}

@media (min-width: 1199px) {
    .text-xl-center {
        text-align: center;
    }

    .text-xl-right {
        text-align: right;
    }

    .text-xl-left {
        text-align: left;
    }
}

.tt-uppercase {
    text-transform: uppercase;
}

.tt-inherit {
    text-transform: inherit;
}

@media (min-width: 576px) {
    .tt-sm-uppercase {
        text-transform: uppercase;
    }

    .tt-sm-inherit {
        text-transform: inherit;
    }
}

@media (min-width: 768px) {
    .tt-md-uppercase {
        text-transform: uppercase;
    }

    .tt-md-inherit {
        text-transform: inherit;
    }
}

@media (min-width: 1052px) {
    .tt-lg-uppercase {
        text-transform: uppercase;
    }

    .tt-lg-inherit {
        text-transform: inherit;
    }
}

@media (min-width: 1199px) {
    .tt-xl-uppercase {
        text-transform: uppercase;
    }

    .tt-xl-inherit {
        text-transform: inherit;
    }
}

.font-family-zero {
    font-family: "TT Norms", sans-serif;
}

.font-family-merriweather {
    font-family: "Merriweather";
}

.fs-12 {
    font-size: 1.2rem;
}

.fs-14 {
    font-size: 1.4rem;
}

.fs-16 {
    font-size: 1.6rem;
}

.fs-18 {
    font-size: 1.8rem;
}

.fs-20 {
    font-size: 2rem;
}

.fs-22 {
    font-size: 2.2rem;
}

.fs-24 {
    font-size: 2.4rem;
}

.fs-28 {
    font-size: 2.8rem;
}

.fs-30 {
    font-size: 3rem;
}

.fs-32 {
    font-size: 3.2rem;
}

.fs-34 {
    font-size: 3.4rem;
}

.fs-36 {
    font-size: 3.6rem;
}

.fs-40 {
    font-size: 4rem;
}

.fs-42 {
    font-size: 4.2rem;
}

.fs-45 {
    font-size: 4.5rem;
}

.fs-50 {
    font-size: 5rem;
}

.fs-55 {
    font-size: 5.5rem;
}

.fs-60 {
    font-size: 6rem;
}

.fs-65 {
    font-size: 6.5rem;
}

.fs-70 {
    font-size: 7rem;
}

.fs-80 {
    font-size: 8rem;
}

.fs-90 {
    font-size: 9rem;
}

.fs-96 {
    font-size: 9.6rem;
}

.fs-120 {
    font-size: 12rem;
}

@media (min-width: 576px) {
    .fs-sm-12 {
        font-size: 1.2rem;
    }

    .fs-sm-14 {
        font-size: 1.4rem;
    }

    .fs-sm-16 {
        font-size: 1.6rem;
    }

    .fs-sm-18 {
        font-size: 1.8rem;
    }

    .fs-sm-20 {
        font-size: 2rem;
    }

    .fs-sm-22 {
        font-size: 2.2rem;
    }

    .fs-sm-24 {
        font-size: 2.4rem;
    }

    .fs-sm-28 {
        font-size: 2.8rem;
    }

    .fs-sm-30 {
        font-size: 3rem;
    }

    .fs-sm-32 {
        font-size: 3.2rem;
    }

    .fs-sm-34 {
        font-size: 3.4rem;
    }

    .fs-sm-36 {
        font-size: 3.6rem;
    }

    .fs-sm-40 {
        font-size: 4rem;
    }

    .fs-sm-42 {
        font-size: 4.2rem;
    }

    .fs-sm-45 {
        font-size: 4.5rem;
    }

    .fs-sm-50 {
        font-size: 5rem;
    }

    .fs-sm-55 {
        font-size: 5.5rem;
    }

    .fs-sm-60 {
        font-size: 6rem;
    }

    .fs-sm-65 {
        font-size: 6.5rem;
    }

    .fs-sm-70 {
        font-size: 7rem;
    }

    .fs-sm-80 {
        font-size: 8rem;
    }

    .fs-sm-90 {
        font-size: 9rem;
    }

    .fs-sm-96 {
        font-size: 9.6rem;
    }

    .fs-sm-120 {
        font-size: 12rem;
    }
}

@media (min-width: 768px) {
    .fs-md-12 {
        font-size: 1.2rem;
    }

    .fs-md-14 {
        font-size: 1.4rem;
    }

    .fs-md-16 {
        font-size: 1.6rem;
    }

    .fs-md-18 {
        font-size: 1.8rem;
    }

    .fs-md-20 {
        font-size: 2rem;
    }

    .fs-md-22 {
        font-size: 2.2rem;
    }

    .fs-md-24 {
        font-size: 2.4rem;
    }

    .fs-md-28 {
        font-size: 2.8rem;
    }

    .fs-md-30 {
        font-size: 3rem;
    }

    .fs-md-32 {
        font-size: 3.2rem;
    }

    .fs-md-34 {
        font-size: 3.4rem;
    }

    .fs-md-36 {
        font-size: 3.6rem;
    }

    .fs-md-40 {
        font-size: 4rem;
    }

    .fs-md-42 {
        font-size: 4.2rem;
    }

    .fs-md-45 {
        font-size: 4.5rem;
    }

    .fs-md-50 {
        font-size: 5rem;
    }

    .fs-md-55 {
        font-size: 5.5rem;
    }

    .fs-md-60 {
        font-size: 6rem;
    }

    .fs-md-65 {
        font-size: 6.5rem;
    }

    .fs-md-70 {
        font-size: 7rem;
    }

    .fs-md-80 {
        font-size: 8rem;
    }

    .fs-md-90 {
        font-size: 9rem;
    }

    .fs-md-96 {
        font-size: 9.6rem;
    }

    .fs-md-120 {
        font-size: 12rem;
    }
}

@media (min-width: 1052px) {
    .fs-lg-12 {
        font-size: 1.2rem;
    }

    .fs-lg-14 {
        font-size: 1.4rem;
    }

    .fs-lg-16 {
        font-size: 1.6rem;
    }

    .fs-lg-18 {
        font-size: 1.8rem;
    }

    .fs-lg-20 {
        font-size: 2rem;
    }

    .fs-lg-22 {
        font-size: 2.2rem;
    }

    .fs-lg-24 {
        font-size: 2.4rem;
    }

    .fs-lg-28 {
        font-size: 2.8rem;
    }

    .fs-lg-30 {
        font-size: 3rem;
    }

    .fs-lg-32 {
        font-size: 3.2rem;
    }

    .fs-lg-34 {
        font-size: 3.4rem;
    }

    .fs-lg-36 {
        font-size: 3.6rem;
    }

    .fs-lg-40 {
        font-size: 4rem;
    }

    .fs-lg-42 {
        font-size: 4.2rem;
    }

    .fs-lg-45 {
        font-size: 4.5rem;
    }

    .fs-lg-50 {
        font-size: 5rem;
    }

    .fs-lg-55 {
        font-size: 5.5rem;
    }

    .fs-lg-60 {
        font-size: 6rem;
    }

    .fs-lg-65 {
        font-size: 6.5rem;
    }

    .fs-lg-70 {
        font-size: 7rem;
    }

    .fs-lg-80 {
        font-size: 8rem;
    }

    .fs-lg-90 {
        font-size: 9rem;
    }

    .fs-lg-96 {
        font-size: 9.6rem;
    }

    .fs-lg-120 {
        font-size: 12rem;
    }
}

@media (min-width: 1199px) {
    .fs-xl-12 {
        font-size: 1.2rem;
    }

    .fs-xl-14 {
        font-size: 1.4rem;
    }

    .fs-xl-16 {
        font-size: 1.6rem;
    }

    .fs-xl-18 {
        font-size: 1.8rem;
    }

    .fs-xl-20 {
        font-size: 2rem;
    }

    .fs-xl-22 {
        font-size: 2.2rem;
    }

    .fs-xl-24 {
        font-size: 2.4rem;
    }

    .fs-xl-28 {
        font-size: 2.8rem;
    }

    .fs-xl-30 {
        font-size: 3rem;
    }

    .fs-xl-32 {
        font-size: 3.2rem;
    }

    .fs-xl-34 {
        font-size: 3.4rem;
    }

    .fs-xl-36 {
        font-size: 3.6rem;
    }

    .fs-xl-40 {
        font-size: 4rem;
    }

    .fs-xl-42 {
        font-size: 4.2rem;
    }

    .fs-xl-45 {
        font-size: 4.5rem;
    }

    .fs-xl-50 {
        font-size: 5rem;
    }

    .fs-xl-55 {
        font-size: 5.5rem;
    }

    .fs-xl-60 {
        font-size: 6rem;
    }

    .fs-xl-65 {
        font-size: 6.5rem;
    }

    .fs-xl-70 {
        font-size: 7rem;
    }

    .fs-xl-80 {
        font-size: 8rem;
    }

    .fs-xl-90 {
        font-size: 9rem;
    }

    .fs-xl-96 {
        font-size: 9.6rem;
    }

    .fs-xl-120 {
        font-size: 12rem;
    }
}

.lh-24 {
    line-height: 2.4rem;
}

.lh-30 {
    line-height: 3rem;
}

.lh-45 {
    line-height: 4.5rem;
}

.lh-128 {
    line-height: 12.8rem;
}

@media (min-width: 576px) {
    .lh-sm-24 {
        line-height: 2.4rem;
    }

    .lh-sm-30 {
        line-height: 3rem;
    }

    .lh-sm-45 {
        line-height: 4.5rem;
    }

    .lh-sm-128 {
        line-height: 12.8rem;
    }
}

@media (min-width: 768px) {
    .lh-md-24 {
        line-height: 2.4rem;
    }

    .lh-md-30 {
        line-height: 3rem;
    }

    .lh-md-45 {
        line-height: 4.5rem;
    }

    .lh-md-128 {
        line-height: 12.8rem;
    }
}

@media (min-width: 1052px) {
    .lh-lg-24 {
        line-height: 2.4rem;
    }

    .lh-lg-30 {
        line-height: 3rem;
    }

    .lh-lg-45 {
        line-height: 4.5rem;
    }

    .lh-lg-128 {
        line-height: 12.8rem;
    }
}

@media (min-width: 1199px) {
    .lh-xl-24 {
        line-height: 2.4rem;
    }

    .lh-xl-30 {
        line-height: 3rem;
    }

    .lh-xl-45 {
        line-height: 4.5rem;
    }

    .lh-xl-128 {
        line-height: 12.8rem;
    }
}

.font-merriweather {
    font-family: 'Merriweather';
}

.font-weight-700 {
    font-weight: bold;
}

.font-weight-600 {
    font-weight: 600;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-300 {
    font-weight: 300;
}

.border-radius-1 {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.w-100 {
    width: 100%;
}

.mx-100 {
    max-width: 100%;
}

.w-75 {
    width: 75%;
}

.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
}

@media (min-width: 576px) {
    .w-sm-100 {
        width: 100%;
    }

    .mx-sm-100 {
        max-width: 100%;
    }

    .w-sm-75 {
        width: 75%;
    }

    .w-sm-50 {
        width: 50%;
    }

    .h-sm-100 {
        height: 100%;
    }
}

@media (min-width: 768px) {
    .w-md-100 {
        width: 100%;
    }

    .mx-md-100 {
        max-width: 100%;
    }

    .w-md-75 {
        width: 75%;
    }

    .w-md-50 {
        width: 50%;
    }

    .h-md-100 {
        height: 100%;
    }
}

@media (min-width: 1052px) {
    .w-lg-100 {
        width: 100%;
    }

    .mx-lg-100 {
        max-width: 100%;
    }

    .w-lg-75 {
        width: 75%;
    }

    .w-lg-50 {
        width: 50%;
    }

    .h-lg-100 {
        height: 100%;
    }
}

@media (min-width: 1199px) {
    .w-xl-100 {
        width: 100%;
    }

    .mx-xl-100 {
        max-width: 100%;
    }

    .w-xl-75 {
        width: 75%;
    }

    .w-xl-50 {
        width: 50%;
    }

    .h-xl-100 {
        height: 100%;
    }
}

.swiper-container__cinema-banner {
    overflow: visible;
}

.swiper-container__cinema-banner .swiper-pagination {
    margin-bottom: -30px;
}

.swiper-container__cinema-banner .swiper-pagination .swiper-pagination-bullet {
    background: #FFFFFF;
    opacity: 0.25;
    width: 6px;
    height: 6px;
    outline: none !important;
}

.swiper-container__cinema-banner .swiper-pagination .swiper-pagination-bullet-active {
    background: #00A1F8;
    opacity: 1;
}

.swiper-container__cinema-banner__slide {
    width: 100%;
    height: 160px;
    background-color: wheat;
}

.swiper-container__cinema-banner__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.c-window-cinema .s-section__label {
    margin-top: 35px;
}

.c-window-cinema .c-tvlist__img {
    width: 100px;
    height: 138px;
}

.c-window-cinema .c-tvlist__item {
    width: 100px;
}

.c-window-cinema .c-tvlist__title {
    margin-top: 7px;
    overflow: hidden;
    height: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
    display: block;
}

.c-window-cinema .c-tvlist__status {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.03em;
    display: block;
}

.c-window-cinema .c-tvlist__status-free {
    color: #9D67F8;
}

.c-window-cinema .c-tvlist__status-buy {
    color: #27AE60;
}

.movie__preview {
    display: flex;
    justify-content: center;
}

.movie__content {
    position: relative;
    z-index: 2;
    margin-top: -32px;
    background-color: white;
    border-radius: 15px 15px 0 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 32px;
    padding-bottom: 30px;
}

.movie__main-title {
    font-weight: bold;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.34px;
    color: #161E29;
}

.movie__attrs {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: rgba(22, 30, 41, 0.75);
    text-align: center;
    display: block;
}

.movie__btn-watch {
    background: #00A1F8;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: white !important;
    height: 42px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
}

.movie__btn-watch span {
    margin-left: 5px;
}

.movie__text {
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #161E29;
    margin-bottom: 7px;
    font-weight: normal;
}

.movie__more {
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #00A1F8;
    display: block;
    margin-bottom: 20px;
}

.movie__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0.38px;
    color: #161E29;
    margin-bottom: 16px;
}

.movie__list {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
}

.movie__list__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 12px;
}

.movie__list__item__key {
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    letter-spacing: 0.03em;
    color: #161E29;
}

.movie__list__item__value span {
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
    letter-spacing: 0.03em;
    color: #161E29;
    text-align: right;
    display: block;
    margin-bottom: 12px;

}

.movie__list__item__value span:last-child {
    margin-bottom: 0;
}

.movie__rating {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F7F8FB;
    border-radius: 12px;
    padding-top: 18px;
    padding-bottom: 30px;
    width: 100%;
}

.movie__rating__number {
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.41px;
    color: #161E29;
}

.movie__rating__count {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    letter-spacing: 0.03em;
    color: rgba(22, 30, 41, 0.75);
    margin-bottom: 16px;
}

.movie__rating__btn {
    background: #F8A245;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: white !important;
    height: 42px;
    width: 100%;
    max-width: 146px;
}

.c-block-rating__card {
    background: #F7F8FB;
    padding: 15px 20px 25px 20px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.c-block-rating__card__title {
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: #161E29;
    margin-bottom: 10px;
}

.rating-area {
    display: flex;
    flex-direction: row-reverse;
    overflow: hidden;
    justify-content: flex-end;
    width: 265px;
}

.rating-area:not(:checked) > input {
    display: none;
}

.rating-area:not(:checked) > label {
    float: right;
    width: 42px;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    color: rgba(22, 30, 41, 0.25);
}

.rating-area:not(:checked) > label:before {
    content: '★';
}

.rating-area > input:checked ~ label {
    color: #F8A245;
}

.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
    color: #F8A245;
}

.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
    color: #F8A245;
}

.rate-area > label:active {
    position: relative;
}
